---
import FormGroup from "@components/ui/FormGroup.astro";
import Button from "@components/ui/Button.astro";
import MainHeadingDes from "@components/ui/MainHeading_des.astro";
---

<section class="contact">
  <div class="container">
    <MainHeadingDes title="ابقا علي اتصالك معنا" sub="اتصل بنا" isSub={true} position="items-center" />
    <form action="" class="mx-auto round-6">
      <div class="row gap-row-1">
        <div class="col-6-lg col-6-md col-12-sm">
          <FormGroup
            type="text"
            place="ادخل الاسم بالكامل"
            title="الاسم بالكامل"
            name="userName"
            isLabel={false}
          />
        </div>
        <div class="col-6-lg col-6-md col-12-sm">
          <FormGroup
            type="email"
            place="ادخل  البريد الالكتروني"
            title="البريد الالكتروني"
            name="userEmail"
            isLabel={false}
          />
        </div>
        <div class="col-6-lg col-6-md col-12-sm">
          <FormGroup
            type="number"
            place="ادخل  رقم الهاتف"
            title="رقم الهاتف"
            name="userPhone"
            isLabel={false}
          />
        </div>
        <div class="col-6-lg col-6-md col-12-sm">
          <FormGroup
            type="text"
            place="ادخل  موضوع  الرسالة"
            title="موضوع الرسالة"
            name="userSubject"
            isLabel={false}
          />
        </div>
      </div>

      <div class="formGroup">
        <textarea
          name="Usermassage"
          id="Usermassage"
          placeholder="ادخل رسالتك"
          class="pr-5 pt-5 relative mb-7 d-flex round-4"></textarea>
      </div>
      <div class="d-flex items-center justify-center mx-auto">
        <Button
          type="submit"
          aria="contactus form"
          ClassName="btn-base px-12 py-5 round-4">ارسال</Button
        >
      </div>
    </form>
  </div>
</section>
